* {
    box-sizing: border-box;
    background-color: black;
    color: #ffff;
    padding: 0;
    margin: 0;
}

.settings-buttons {
    display: flex;
    flex-direction: column;
}

.grid-size-slider {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid #ffff;
}

.grid__item {
    border: 1px solid #ffff;
}