@font-face {
    font-family: 'Minecraft';
    src: url('./fonts/Minecraft.ttf');
}

* {
    box-sizing: border-box;
    background-color: black;
    color: #ffff;
    padding: 0;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Minecraft';
    color: #FFE81F;
    margin-top: 1rem;
}

button {
    cursor: pointer;
}

.settings-buttons {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.settings-buttons button {
    padding: 1rem;
    border: none;
    border-radius: 5%;
    background-color: #FFE81F;
    color: black;
    font-family: 'Minecraft';
    font-size: 1rem;
}

#color-input {
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.grid-size-slider {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid #ffff;
    margin: 0 auto;
}

.grid__item {
    border: 1px solid #ffff;
}

.footer {
    display: flex;
    justify-content: center;
    font-family: 'Minecraft';
    color: #FFE81F;
    margin-bottom: 1rem;
}

.active {
    transform: scale(1.05);
    border: 5px solid #ffff !important;
}